# Ignore Python virtual environments
.venv/
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Ignore sensitive files
*.env
logs/
*.log

# Ignore system files
*.DS_Store

# Ignore P5 folder presentation
*.Presentation/